<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
            <div class="button-title col-3 text-center">
                <i routerLink="/resultado" class="pi pi-check" style="font-size: 2rem;"></i>
                <span>Resultado</span>
            </div>
            <div class="button-title col-4 text-center">
                <i routerLink="/home" class="pi pi-home" style="font-size: 2rem;"></i>
                <span>Inicio</span>
            </div>
            <div class="button-title col-4 text-center">
                <i routerLink="/plaga" class="pi pi-slack" style="font-size: 2rem;"></i>
                <span style="text-align: center;">Plaga</span>
            </div>
    </div>
</nav>
