<app-header style="position: sticky; top: 0px; z-index: 1000;"></app-header>

<app-carousel></app-carousel>
<div class="row pt-4 animate__animated animate__fadeIn">
    <div class=" col-12">
        <div class="row">
            <div class="fondo card mb-1">
                <div class="card-body">
                    <div class="text">
                        <h2 class="card-title">TOQUE</h2>
                        <h6>Para identificar</h6>
                    </div>

                    <div class="botons">
                        <button type="button" class="btn btn-secondary redondo-galery">
                            <i class="pi pi-folder" style="font-size: 1.5rem;"></i>
                        </button>
                        <button type="button" class="btn btn-secondary redondo-camara">
                            <i class="pi pi-camera" style="font-size: 3rem;"></i>
                            <input type="file" id="archivo" name="archivo" style="display: none;">
                        </button>
                        <br>
                    </div>

                    <div class="card recomends">
                        <div class="card-body">
                            <h3>Recomendacion:</h3>
                            <p>Ubicar la planta en un lugar con buena iluminacion</p>
                        </div>
                    </div>
                <br><br><br>
                <br><br>
                </div>
            </div>
        </div>
    </div>
</div>

<app-menu style="position: fixed; bottom: 0;; z-index: 1000; width: 100%;"></app-menu>