<app-header style="position: sticky; top: 0px; z-index: 1000;"></app-header>
<div class="row pt-4 animate__animated animate__fadeIn color">
    <div class="col-12">
        <div class="row">
            <div class="card mb-1">
                <div class="card-body">
                    <h3 class="card-title">Informate mas</h3>
                    <p class="descrip">
                        Las plagas son organismos no deseados que causan daño o perjuicio a cultivos, plantas, animales o entornos humanos. Pueden incluir insectos, ácaros, roedores, microorganismos y otros organismos que proliferan en condiciones propicias. Las plagas pueden afectar la producción agrícola, la salud pública y el equilibrio ecológico.
                    </p>
                </div>
            </div>
        </div>
        <br>
    </div>

    <div class="card mb-1">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img src="assets/images/aca1.jpg" style="margin-top: 25px;" width="100%" alt="">
                </div>
                <div class="col-8">
                    <h5>Acaro</h5>
                    <p>
                        Artrópodos pequeños, útiles o perjudiciales. Descomponen, polinizan o causan problemas. Afectan humanos, animales y plantas. Difíciles de ver, pero estudiados intensamente.                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-1">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img src="assets/images/coc1.jpg" style="margin-top: 25px;" width="100%" alt="">
                </div>
                <div class="col-8">
                    <h5>Cochinillas</h5>
                    <p>Insectos chupadores que dañan plantas, transmiten enfermedades y a veces proveen pigmentos rojos. Plagas comunes en agricultura y jardinería.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-1">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img src="assets/images/pul1.jpg" style="margin-top: 25px;" width="100%" alt="">
                </div>
                <div class="col-8">
                    <h5>Pulgones</h5>
                    <p>
                        Insectos chupadores dañinos para plantas. Transmiten enfermedades, se reproducen rápido y atraen depredadores beneficiosos. Plagas comunes en jardinería y agricultura.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br>dafd
</div>


<app-menu style="position: fixed; bottom: 0;; z-index: 1000; width: 100%;"></app-menu>
<app-button-camera style="position: fixed; z-index: 1500; top: 70%; left: 70%;"></app-button-camera>